__pycache__
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz

*.log
*.log.*
*.log.*.*
*.log.*.*.*
*.log.*.*.*.*
*.log.*.*.*.*.*
*.log.*.*.*.*.*.*

.DS_Store

*.env
*.env.*
*.env.*.*
*.env.*.*.*
*.env.*.*.*.*
env
venv

*.xlsx
*.xls
*.csv
*.json
